/* style sheet for Martin's Portfolio */

/* shared layout related definitions */

header,
section,
footer,
aside,
nav,
article,
figure,
figcaption {
      display: block;
}

body {
      width: 100%;
      background: white;
      font-family: "Times New Roman", Verdana;
      font-size: 12pt;
      color: black;
}

.wrapper {
      background: white;
      width: 100%;
      margin: 10px auto 10px auto;
      padding: 10px;
}

header {
      width: 100%;
      padding: 10px 10px 10px 10px;
      color: lightgray;
      background-color: lightgray;
      display: flex;
}

.logo {
      float: left;
      width: "70%";
      margin: 10px 10px 10px 10px;
}


main {
      float: left;
      width: 100%;
      margin: 10px 10px 10px 0px;
      overflow: auto;
      height: 100%
}

footer {
      width: 100%;
      float: left;
      padding: 10px 10px 10px 10px;
      color: black;
      background-color: lightgray;
      display: flex;
}

.copyright {
      float: left;
      width: 400px;
      margin: 10px 10px 10px 30px;
}


/* about page specific layout definitions */

.about1of2 {
      float: left;
      width: 65%;
      margin: 0px 0px 0px 0px;
      background-color: lightgray;
}

.about2of2 {
      float: left;
      width: 25%;
      margin: 0px 0px 0px 40px;
}


/* home page specific layout definitions */

.home1of2 {
      float: left;
      width: 55%;
      margin: 0px 0px 0px 0px;
}

.home2of2 {
      float: right;
      width: 35%;
      margin: 0px 0px 0px 0px;
      background-color: lightgray;
}


/* header related definitions */

h1 {
      font-size: 14pt;
      color: black;
      text-decoration: underline;
}

h1.blue {
      font-size: 14pt;
      color: blue;
      text-decoration: underline;
}

h2 {
      font-size: 12pt;
      color: black;
      text-decoration: underline;
}

h2.blue {
      font-size: 12pt;
      color: blue;
      text-decoration: underline;
      text-align: center;
}

h2.blue-left {
      font-size: 12pt;
      color: blue;
      text-decoration: underline;
      text-align: left;
}

h3 {
      font-size: 12pt;
      color: black;
      text-align: center;
}

h3.blue {
      font-size: 12pt;
      color: blue;
      text-align: center;
}


/* color related definitions */

.blue {
      color: blue;
}

.black {
      color: black;
}

.blackbold {
      color: black;
      font-weight: bold;
}

.blackboldbig {
      font-size: 22pt;
      color: black;
      font-weight: bold;
}

.blackitalic {
      color: black;
      font-style: italic;
}


/* paragraph related definitions */

p {
      text-align: left;
}

p.bold {
      font-weight: bold;
      text-align: left;
}

p.right {
      text-align: right;
}


/* anchor related definitions */

a {
      text-decoration: underline;
      color: blue;
}

a:link {
      color: blue
}

a:active {
      color: blue
}

a:visited {
      color: blue
}


/* table related definitions */

table {
      width: 100%;
}

td {
      padding: 2px;
      vertical-align: top;
}

table.contacts {
      width: 300px;
}

td.contacts {
      padding: 0px;
      vertical-align: middle;
}




/* button related definitions */

.btn {
      border: 3px solid white;
      background-color: darkblue;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      width: 160px;
      height: 50px;
}

.btn-bold {
      border: 3px solid white;
      background-color: darkblue;
      color: white;
      padding: 14px 28px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      width: 160px;
      height: 55px;
}

.btn-drop {
      border: 1px solid lightgray;
      background-color: darkblue;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      width: 160px;
      height: 50px;
}

.btn-drop-bold {
      border: 3px solid lightgray;
      background-color: darkblue;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      width: 160px;
      height: 50px;
}

.btn-gray {
      border: 3px solid lightgray;
      background-color: darkblue;
      color: white;
      padding: 14px 28px;
      font-size: 16px;
      cursor: pointer;
      width: 160px;
      height: 50px;
}

.btn-gray-bold {
      border: 3px solid lightgray;
      background-color: darkblue;
      color: white;
      padding: 14px 28px;
      font-size: 20px;
      font-weight: bold;
      cursor: pointer;
      width: 160px;
      height: 55px;
}


/* navigation related definitions */

.main-navigation {
      float: left;
      width: "30%";
      margin: 10px 0px 10px 0px;
}

.main-navigation ul {
      list-style: none;
      text-align: center;
}

.main-navigation li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 200px;
  z-index: 1;
}

.dropdown-content a {
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
}


/* list related definitions */

li.inline {
      display: inline;
}

li.nobullet {
      list-style-type: none;
}

ul.nobullet {
      list-style-type: none;
}


/* form related definitions */

input:invalid {
  border: 2px solid black;
}

input:valid {
  border: 1px solid black;
}


/* miscellaneous related definitions */

.underline {
      text-decoration: underline
}

img {
      max-width: 100%;
}
